* {
    box-sizing: border-box;
}

/* Elements */
body {
  background: white;
  color: dimgray;
  font-family: sans-serif;
}
h1, h2, b {
  color: black;
}
header, footer {
  clear: both;
  padding: 1em;
  text-align: center;
}
details {
  border: 1px solid black;
  box-shadow: 5px 5px 5px dimgray;
  margin-bottom: 1em;
}
summary {
  border-bottom: 1px solid black;
  font-size: 1em;
  font-weight: normal;
  padding-right: 0.5em;
}

/* Classes */
.center {
  text-align: center;
}
.right-justify {
  float: right;
}
.reverse-divider {
  background: dimgray;
  color: white;
  border: 1px solid black;
  box-shadow: 5px 5px 5px dimgray;
  margin-bottom: 1em;
  padding-left: 0.25em;
  text-align: center;
}

/* Specific id styling */
#network-static {
  display: none;
}
#script-output {
  background: darkgreen;
  border: 3em solid #F5F5DC;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #7F7F7F;
  color: lime;
  font-family: monospace;
  overflow: auto;
  padding: 0.5em;
  white-space: pre;
}

/* Two columns for wide screens (720p or better) */
@media screen and (min-width: 1280px) {
  main {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
  }
  aside {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
  }
  
}